#sw{display:none;}
#sw img{display:none;}
#sw a{display:none;}
.head{width:100%;min-width:1000px;overflow:hidden;background:#fff;}
.head .top{width:100%;min-width:1000px;height:28px;border-bottom:1px solid #ccc;}
.head .top .top_mid{width:1000px;height:28px;margin:0 auto;}
.head .top .top_mid .top_chanel{float:right;height:28px;}
.head .top .top_mid .top_chanel ul li{float:left;height:16px;padding:0 10px;margin-top:6px;border-right:1px solid #ccc;}
.head .top .top_mid .top_chanel ul li a{float:left;color:#888;display:block;height:16px;line-height:16px;}
.head .logo_search{width:100%;min-width:1000px;height:112px;}
.head .logo_search .logo_search_mid{width:1000px;height:112px;margin:0 auto;}
.head .logo_search .logo_search_mid .logo{float:left;width:267px;height:54px;margin-top:29px;}
.head .logo_search .logo_search_mid .logo a{float:left;display:block;width:267px;height:54px;}
.head .logo_search .logo_search_mid .logo a img{width:100%;height:100%;}
.head .logo_search .logo_search_mid .hos_lev{float:left;width:435px;height:74px;padding-top:38px;}
.head .logo_search .logo_search_mid .hos_lev ul{float:left;height:72px;margin-left:20px;display:inline;}
.head .logo_search .logo_search_mid .hos_lev ul li{float:left;text-align:center;}
.head .logo_search .logo_search_mid .hos_lev ul.item1{width:120px;}
.head .logo_search .logo_search_mid .hos_lev ul.item1 li{width:126px;font-size:14px;}
.head .logo_search .logo_search_mid .hos_lev ul.item2{width:144px;}
.head .logo_search .logo_search_mid .hos_lev ul.item2 li{width:144px;font-size:14px;}
.head .logo_search .logo_search_mid .hos_lev ul.item3{width:100px;}
.head .logo_search .logo_search_mid .hos_lev ul.item3 li{width:100px;font-size:14px;}
.head .logo_search .logo_search_mid .search{width:288px;height:88px;float:left;padding-left:10px;padding-top:24px;}
.head .logo_search .logo_search_mid .search h1{width:288px;height:32px;white-space:nowrap;overflow:hidden;font-size:24px;color:#923446;margin-bottom:7px;}
.head .logo_search .logo_search_mid .search .se{width:273px;height:31px;}
.head .logo_search .logo_search_mid .search .se input{border:0px;display:block;float:left;}
.head .logo_search .logo_search_mid .search .se input#te{width:198px;height:29px;border:1px solid #d9d9d9;border-right:0;line-height:29px;color:#bbb;padding:0px;}
.head .logo_search .logo_search_mid .search .se input#sub{width:70px;height:31px;background:url("../images/newsearch.jpg") no-repeat left top;cursor:pointer;}