.lcfb1 { background-color:#014B83; font-size:42px; line-height:60px; font-weight:bold; color:#FFF; text-align:center; width:100px; }
.lcfb1 strong,.lcfb1 p,p strong{font-size:24px;}
.lcfb2 { background-color:#EAEAEA; font-size:22px; line-height:60px;font-weight: normal; padding-left:20px; }
.lcfb2 p{color:#014B83;font-size:24px}