#detailCont .sb_list{width:100%;overflow:hidden;padding-bottom:5px;border-bottom:1px dotted #ccc;}
#detailCont .sb_list ul li{float:left;padding:3px 10px;background:#0066cc;margin-right:10px;}
#detailCont .sb_list ul li a{color:#fff;font-weight:bold;}
#detailCont .sb_list ul li.active a{color:#b5d600;}
#detailCont .some_sb{width:100%;padding-top:15px;padding-bottom:15px;overflow:hidden;}
#detailCont .some_sb ul li{float:left;width:195px;height:260px;border:1px solid #fd7a04;margin-right:4px;margin-bottom:8px;}
#detailCont .some_sb ul li .sb_pic{width:181px;height:210px;padding:4px 7px;background:#ccc;}
#detailCont .some_sb ul li .sb_pic a{width:181px;height:210px;display:block;overflow:hidden;}
#detailCont .some_sb ul li .sb_pic a img{width:181px;height:210px;}
#detailCont .some_sb ul li  .sb_name{width:191px;height:42px;overflow:hidden;background:#6e6c6f;padding-left:4px;}
#detailCont .some_sb ul li  .sb_name a{color:#fff;}
#detailCont .xmeye_pages ul li{float:left;padding:4px 8px;border:1px solid #0296fe;margin-right:8px;}
#detailCont .xmeye_pages ul li span{color: #923446;font-weight: bold;font-size: 16px;}
#detailCont .xmeye_pages ul li a{color:#0296fe;}