

.clr{clear:both;}
.inner_banner{width:100%;min-width:1000px;height:323px;position:relative;}
.inner_banner .bd li{width:100%;min-width:1000px;height:323px;}
.inner_banner .bd li a{overflow:hidden;display:block;width:100%;height:323px;}
.inner_banner .bd li a img{width:100%;height:100%;}
.inner_banner .hd{position:absolute;bottom:0px;left:0;width:100%;height:30px;_bottom:6px;}
.inner_banner .hd ul{margin:0 auto;width:95px;}
.inner_banner .hd ul li{float:left;width:13px;height:13px;text-indent:-9999px;background:url("../images/new_dot.png") no-repeat left -39px;display:inline;margin-right:6px;}
.inner_banner .hd ul li.on{background:url("../images/new_dot.png") no-repeat left top;}


.arc_lst{width:100%;min-width:1000px;overflow:hidden;background:#f1f1f1;padding-top:12px;padding-bottom:35px;}
.arc_lst .arc_lst_mid{width:1000px;overflow:hidden;margin:0 auto;}
.arc_lst .arc_lst_mid .top_menu{width:998px;overflow:hidden;background:#fff;padding:6px 8px;border:1px solid #dcdcdc;}
.arc_lst .arc_lst_mid .top_menu dl{float:left;}
.arc_lst .arc_lst_mid .top_menu dl dt{float:left;width:63px;height:58px;}
.arc_lst .arc_lst_mid .top_menu dl dd{float:left;height:50px;padding-top:8px;}
.arc_lst .arc_lst_mid .top_menu dl dd a{font-size:12px;color:#7c7c7c;}
.arc_lst .arc_lst_mid .top_menu dl dd a:hover{color:#0f8cdb;}
.arc_lst .arc_lst_mid .top_menu dl.qgbz dd{width:68px;}
.arc_lst .arc_lst_mid .top_menu dl.cjyb dd{width:180px;}
.arc_lst .arc_lst_mid .top_menu dl.zhyb dd{width:180px;}
.arc_lst .arc_lst_mid .top_menu dl.ybzx dd{width:134px;}
.arc_lst .arc_lst_mid .top_menu dl.yxpj dd{width:110px;}
.arc_lst .arc_lst_mid .lst_con{width:1000px;margin-top:10px;}
.arc_lst .arc_lst_mid .lst_con .left{width:285px;overflow:hidden;float:left;}
.arc_lst .arc_lst_mid .lst_con .left .son_column{width:285px;overflow:hidden;}
.arc_lst .arc_lst_mid .lst_con .left .son_column ul li{width:283px;height:46px;border:1px solid #e8e8e8;border-radius:5px;background:#fff;float:left;transition:0.8s;margin-bottom:6px;}
.arc_lst .arc_lst_mid .lst_con .left .son_column ul li a{display:block;width:283px;height:46px;}
.arc_lst .arc_lst_mid .lst_con .left .son_column ul li a b{float:left;height:46px;line-height:46px;color:#333;margin-left:20px;font-weight:normal;}
.arc_lst .arc_lst_mid .lst_con .left .son_column ul li a i{float:right;width:6px;height:9px;margin-right:27px;margin-top:19px;background:url("../images/arc_arrow.png") no-repeat left -18px;transition:0.5s;}
.arc_lst .arc_lst_mid .lst_con .left .son_column ul li:hover{background:#014B83;}
.arc_lst .arc_lst_mid .lst_con .left .son_column ul li:hover a b{color:#fff;}
.arc_lst .arc_lst_mid .lst_con .left .son_column ul li:hover a i{background:url("../images/arc_arrow.png") no-repeat left top;}

.arc_lst .arc_lst_mid .lst_con .left .hot_arc{width:253px;background:#fff;overflow:hidden;border:1px solid #ededed;padding:20px 15px 10px 15px; }
.arc_lst .arc_lst_mid .lst_con .left .hot_arc h1{width:253px;height:34px;border-bottom:1px solid #ebebeb;}
.arc_lst .arc_lst_mid .lst_con .left .hot_arc h1 b{padding:0 5px;height:33px;line-height:33px;border-bottom:2px solid #259de9;font-weight:normal;font-size:18px;display:block;float:left;}
.arc_lst .arc_lst_mid .lst_con .left .hot_arc .hot_arc_item{width:249px;height:150px;margin:0 auto;margin-top:20px;position:relative;}
.arc_lst .arc_lst_mid .lst_con .left .hot_arc .hot_arc_item a.link{display:block;width:249px;height:150px;}
.arc_lst .arc_lst_mid .lst_con .left .hot_arc .hot_arc_item img{width:249px;height:150px;}
.arc_lst .arc_lst_mid .lst_con .left .hot_arc .hot_arc_item .til{position:absolute;left:0px;bottom:0px;width:209px;height:60px;background:url("../images/til_black_tm.png") repeat left top;padding:0 20px;}
.arc_lst .arc_lst_mid .lst_con .left .hot_arc .hot_arc_item .til p{font-size:14px;color:#fff;margin-top:8px;height:20px;line-height:20px;overflow:hidden;white-space:nowrap;width:209px;float:left;}
.arc_lst .arc_lst_mid .lst_con .left .hot_arc .hot_arc_item .til a{display:block;width:209px;height:20px;float:left;color:#fff;margin-top:4px;overflow:hidden;}

.arc_lst .arc_lst_mid .lst_con .left .hot_arc ul li{width:234px;height:37px;margin:0 auto;border-top:1px solid #f0f1f1;padding:0 5px;}
.arc_lst .arc_lst_mid .lst_con .left .hot_arc ul li a{color:#797979;display:block;width:234px;height:37px;line-height:37px;overflow:hidden;}


.arc_lst .arc_lst_mid .lst_con .left .man_online{width:284px;overflow:hidden;margin-top:20px;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .hos_online{width:284px;height:92px;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .hos_online ul li{float:left;width:93px;height:92px;display:inline;margin-right:2px;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .hos_online ul li a{display:block;width:93px;height:92px;overflow:hidden;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .hot_line{width:284px;height:46px;text-align:center;overflow:hidden;margin-top:25px;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .other_op{width:284px;height:102px;margin-top:10px;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .other_op dl{float:left;margin-right:35px;width:70px;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .other_op dl.end{margin-right:0px;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .other_op dl.end dd a{color:#e30000;font-weight:bold;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .other_op dl dt{width:60px;height:60px;margin:0 auto;margin-bottom:5px;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .other_op dl dt a{display:block;width:60px;height:60px;overflow:hidden;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .other_op dl dt a img{width:60px;height:60px;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .other_op dl dd{width:70px;height:35px;text-align:center;}
.arc_lst .arc_lst_mid .lst_con .left .man_online .other_op dl dd a{width:70px;height:35px;line-height:100%;float:left;color:#565656;}

.arc_lst .arc_lst_mid .lst_con .right{width:704px;overflow:hidden;background:#fff;float:right;padding-bottom:10px;position:relative;}
.arc_lst .arc_lst_mid .lst_con .right .top_link{width:704px;overflow:hidden;}
.arc_lst .arc_lst_mid .lst_con .right .top_link .crumb{float:left;margin-top:18px;width:300px;margin-left:25px;display:inline;padding-left:15px;background:url("../images/arc_arrow.png") no-repeat left -33px;}
.arc_lst .arc_lst_mid .lst_con .right .top_link .crumb a{color:#686868;font-size:12px;}
.arc_lst .arc_lst_mid .lst_con .right .top_link .bespoke{float:right;display:inline;width:94px;height:24px;overflow:hidden;margin-top:15px;margin-right:17px;}
.arc_lst .arc_lst_mid .lst_con .right .top_link .bespoke a{display:block;width:94px;height:24px;overflow:hidden;}


.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis{width:684px;overflow:hidden;padding:35px 10px 0px 10px;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel{width:332px;overflow:hidden;margin:0 5px;float:left;height:280px;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel h2{width:332px;height:32px;background:url("../images/list_titleBg.jpg") repeat-x left top;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel h2 a.gy{display:block;width:100px;height:32px;float:left;background:url("../images/listTitleBg.jpg") no-repeat 50% bottom;color:#fff;text-align:center;line-height:32px;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel h2 a.gy1{display:block;float:right;height:32px;line-height:32px;font-weight:normal;font-size:12px;color:#626262;margin-right:7px;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel ul{width:332px;padding-top:20px;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel ul li{width:332px;float:left;margin-bottom:5px;height:20px;overflow:hidden;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel ul li.top_hot{height:95px;width:332px;border-bottom:1px dotted #dfdfdf;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel ul li.top_hot a.pic{float:left;width:120px;height:80px;display:block;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel ul li.top_hot a.pic img{width:100%;height:100%;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel ul li.top_hot p{float:left;width:188px;height:75px;font-size:12px;margin-left:10px;overflow:hidden;color:#666;padding-top:5px;line-height:130%;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel ul li.top_hot p a{color:#000;}
.arc_lst .arc_lst_mid .lst_con .right .arc_lst_dis .son_chanel ul li a{font-size:12px;color:#000;}























.gotop{width:52px;background:url("../images/gotop.jpg") no-repeat left top;position:fixed;right:20px;top:80%;z-index:999;_position: absolute;
_bottom: auto;
_top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:30px;}

* html{
background-image:url(about:blank);
background-attachment:fixed;
}


.footer{width:100%;min-width:1000px;background:#313a4a;overflow:hidden;}
.footer .footer_mid{width:1000px;overflow:hidden;margin:0 auto;}
.footer .footer_mid .foot_nav{width:1000px;height:45px;}
.footer .footer_mid .foot_nav ul li{float:left;margin-right:50px;height:45px;line-height:45px;}
.footer .footer_mid .foot_nav ul li a{font-size:16px;color:#dcdcdc;}
.footer .footer_mid .bottom{width:1000px;overflow:hidden;padding-top:20px;padding-bottom:30px;}
.footer .footer_mid .bottom .left{width:228px;height:44px;float:left;overflow:hidden;margin-top:50px;}
.footer .footer_mid .bottom .mid{width:577px;float:left;margin-left:34px;}
.footer .footer_mid .bottom .mid p{color:#adadad;float:left;width:577px;overflow:hidden;margin-bottom:2px;}
.footer .footer_mid .bottom .right{float:right;width:107px;text-align:center;margin-top:16px;}
.footer .footer_mid .bottom .right p{margin-top:3px;color:#fff;}

.big_ewm{display:none;width:100%;position:absolute;left:0px;top:0px;z-index:999;}
.big_ewm .ewm_con{width:200px;overflow:hidden;background:#fff;padding:20px;position:fixed;top:0px;left:0px;}
.big_ewm .ewm_con .close{width:200px;height:25px;}
.big_ewm .ewm_con .close a{float:right;}
.big_ewm .ewm_con .ewm_icon{width:200px;text-align:center;}
.big_ewm .ewm_con .ewm_icon p{font-size:12px;}


