#jttj .img1_big{display:none;z-index:99;}
#jttj .img1_big .img1_bg{width:100%;height:100%;position:fixed;left:0;top:0;background:url("../new_index_images/black_tm.png") repeat left top;z-index:999;}
#jttj .img1_big .img1_big_pic{width:auto;overflow:hidden;position:fixed;top:200px;left:500px;z-index:9999;}
#jttj .img1_big .img1_big_pic .big_pic1_con{width:auto;height:auto;background:#fff;padding:8px;position:relative;}
#jttj .img1_big .img1_big_pic .big_pic1_con .next_prev{width:100%;height:100%;position:absolute;left:0px;top:0px;z-index:100000;}
#jttj .img1_big .img1_big_pic .big_pic1_con .next_prev .prev{width:50%;height:100%;float:left;}
#jttj .img1_big .img1_big_pic .big_pic1_con .next_prev .prev a{margin-top:382px;display:block;}
#jttj .img1_big .img1_big_pic .big_pic1_con .next_prev .next{width:50%;height:100%;float:left;}
#jttj .img1_big .img1_big_pic .big_pic1_con .next_prev .next a{margin-top:382px;display:block;float:right;}

#jttj .img1_big .img1_big_pic .big_pic1_til{width:auto;overflow:hidden;}
#jttj .img1_big .img1_big_pic .big_pic1_til p{float:left;color:#fff;font-weight:bold;}
#jttj .img1_big .img1_big_pic .big_pic1_til .close_all{float:right;display:block;width:27px;height:27px;background:url("/statics/wfyk/images/close1.png") no-repeat left top;cursor:pointer;}
.yygkp1_li{float:left;}


#jtry .img1_big{display:none;}
#jtry .img1_big .img1_bg{width:100%;height:100%;position:fixed;left:0;top:0;background:url("../new_index_images/black_tm.png") repeat left top;}
#jtry .img1_big .img1_big_pic{width:auto;overflow:hidden;position:fixed;top:200px;left:500px;z-index:9999;}
#jtry .img1_big .img1_big_pic .big_pic1_con{width:auto;height:auto;background:#fff;padding:8px;position:relative;}
#jtry .img1_big .img1_big_pic .big_pic1_con .next_prev{width:100%;height:100%;position:absolute;left:0px;top:0px;z-index:100000;}
#jtry .img1_big .img1_big_pic .big_pic1_con .next_prev .prev{width:50%;height:100%;float:left;}
#jtry .img1_big .img1_big_pic .big_pic1_con .next_prev .prev a{margin-top:180px;display:block;}
#jtry .img1_big .img1_big_pic .big_pic1_con .next_prev .next{width:50%;height:100%;float:left;}
#jtry .img1_big .img1_big_pic .big_pic1_con .next_prev .next a{margin-top:180px;display:block;float:right;}

#jtry .img1_big .img1_big_pic .big_pic1_til{width:auto;overflow:hidden;}
#jtry .img1_big .img1_big_pic .big_pic1_til p{float:left;color:#fff;font-weight:bold;}
#jtry .img1_big .img1_big_pic .big_pic1_til .close_all{float:right;display:block;width:27px;height:27px;background:url("/statics/wfyk/images/close1.png") no-repeat left top;cursor:pointer;}
#jtry ul li{float:left;}

#jtax .img1_big{display:none;}
#jtax .img1_big .img1_bg{width:100%;height:100%;position:fixed;left:0;top:0;background:url("../new_index_images/black_tm.png") repeat left top;}
#jtax .img1_big .img1_big_pic{width:auto;overflow:hidden;position:fixed;top:200px;left:500px;z-index:9999;}
#jtax .img1_big .img1_big_pic .big_pic1_con{width:auto;height:auto;background:#fff;padding:8px;position:relative;}
#jtax .img1_big .img1_big_pic .big_pic1_con .next_prev{width:100%;height:100%;position:absolute;left:0px;top:0px;z-index:100000;}
#jtax .img1_big .img1_big_pic .big_pic1_con .next_prev .prev{width:50%;height:100%;float:left;}
#jtax .img1_big .img1_big_pic .big_pic1_con .next_prev .prev a{margin-top:180px;display:block;}
#jtax .img1_big .img1_big_pic .big_pic1_con .next_prev .next{width:50%;height:100%;float:left;}
#jtax .img1_big .img1_big_pic .big_pic1_con .next_prev .next a{margin-top:180px;display:block;float:right;}

#jtax .img1_big .img1_big_pic .big_pic1_til{width:auto;overflow:hidden;}
#jtax .img1_big .img1_big_pic .big_pic1_til p{float:left;color:#fff;font-weight:bold;}
#jtax .img1_big .img1_big_pic .big_pic1_til .close_all{float:right;display:block;width:27px;height:27px;background:url("/statics/wfyk/images/close1.png") no-repeat left top;cursor:pointer;}
#jtax ul li{float:left;}
























